.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Мгновенно скрываем панель DevExpress до клика по кнопке */
dx-license {
  display: none !important;
}
